.booking {
    background-color: $color_dblue;
    &__wrapper {
        background-position: 78% 50%;
        background-size: auto;
        background-repeat: no-repeat;
    }
    &__main {
        padding: 147px 0 137px; 
        max-width: 550px;
    }
    &__title {
        padding-bottom: 63px;
        .title {
            color: $color_white;
            letter-spacing: 0.04em;
            &::after {
                bottom: -32px;
                left: 0;
            }
        }
    }
    &__subtitle {
        font-family: "Inter";
        color: $color_lblue;
        @include fz(19);
        line-height: 145%;
        font-weight: 400;
        letter-spacing: 0.003em;
        padding-bottom: 25px;
    }
    &__button {
        &-el {
            background-color: $color_dblue;
            color: $color_white;
            padding: 21px 52px;
            &:hover {
                background-color: $color_white;
                color: $color_dblue;
                border: 1px solid $color_black;
            }
        }
    }
}