.books {
    &__wrapper {
        padding: 130px 0;
    }
    &__title {
        text-align: center;
        padding-bottom: 90px;
        .title::after {
            bottom: -30px;
            left: 48%;
        }
    }
    &__column {
        display: flex;
        justify-content: space-between;
        gap: 2px;
        .page-books {
            display: flex;
            justify-content: space-between;
            gap: 15px;
            &__link {
                flex: 0 1 49%;
                cursor: zoom-in;
                // To do adaptive picture
                width: 100%;
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    padding-top: calc(4.04*100%/3.07);
                }
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 50%;
                    top: 0;
                    transform: translate(-50%, 0);
                }
            }
            &__info {
                flex: 0 1 51%;
            }
            .info {
                padding: 52px 35px 0 0;
                &__title {
                    font-family: "Cardo";
                    color: $color_dblue;
                    line-height: 100%;
                    @include fz(32);
                    font-weight: 400;
                    letter-spacing: 0.01em;
                    padding-bottom: 13px;
                }
                &__price {
                    font-family: "Inter";
                    color: $color_orange;
                    line-height: 130%;
                    @include fz(21);
                    font-weight: 400;
                    letter-spacing: 0.01em;
                    padding-bottom: 25px;
                }
                .item-subtitle {
                    line-height: 140%;
                    padding-bottom: 20px;
                }
                &__print {
                    padding: 0 0 30px 25px;
                    &_text {
                        font-family: "Cardo";
                        color: $color_dblue;
                        @include fz(24);
                        line-height: 90%;
                        font-weight: 400;
                        letter-spacing: 0.003em;
                        transition: $transition4s;
                        position: relative;
                        &:before {   
                            transition: $transition4s;
                            width: 14px;
                            height: 14px;          
                            bottom: 9px;
                            left: -25px;
                        }
                        &:hover {
                            color: $color_dorange;
                            &:before {  
                                background-color: $color_black;
                            }
                        }
                    }
                }
            }
        }
    }
}


