.cards {
    &__wrapper {
        padding: 150px 0 150px;
        background-color: $color_lwhite;
    }
    &__title {
        text-align: center;
        padding-bottom: 103px;
        .title {
            &::after {
                bottom: -32px;
                left: 48%;
            }
        }
    }
    &__main {
        position: relative;   
    }
    .swiper-navigation {
        .arrow-slider {
            z-index: 99;
            position: absolute;
            top: 45%;
            cursor: pointer;
            &:hover {
                background-color: $color_dblue;
                &::after {
                    border-left: 2px solid $color_white;
                    border-bottom: 2px solid $color_white;
                }
            }
        }
        .arrow-prev {
            left: -2%;
        }
        .arrow-next {
            right: -2%;
        }
    }
    .swiper {
        width: 100%;
        overflow: hidden;
    }
    .cards-slider {
        .cards-item {
            height: 100%;
            width: 100%;
            position: relative;
            transition: $transition4s;
            &:hover {
                overflow: hidden;
                transform: scale(1.02);
            }
        }
        .cards-link {
            &__image {
                .cards-pic {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }
            &__info {
                background-color: #fff;
                padding: 30px 35px;
                .item-title {
                    height: 80px;
                    color: $color_dblue;
                    line-height: 140%;
                    letter-spacing: 0.24px;
                    padding: 0 30px 0 0;
                }
                .item-subtitle {
                    padding-top: 5px;
                    line-height: 170%;
                    position: relative;
                    height: 114px;
                    overflow: hidden;
                    &:after {
                        content: "";
                        text-align: right;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        height: 1.4em;
                        background: linear-gradient(to bottom, rgba(255, 255, 255, .3), #fff 100%);
                        pointer-events: none;
                    }
                }
                .info-footer {
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                    .btn-read {
                        padding: 1px 3px;
                        color: $color_dblue;
                        &:after {             
                            height: 2px;
                            bottom: -5px;
                            background-color: $color_dblue;
                        }
                        &:hover {
                            color: $color_dorange;
                            &:after {             
                                background-color: $color_dorange;
                            }
                        }
                    }
                    &__date {
                        color: $color_dblue;
                        font-family: "Inter";
                        font-weight: 400;
                        @include fz(16);
                        line-height: 130%;
                    }
                }
            }
        }
    }
    
    
}