// Preload-spinner
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    // background: #e0e0e0;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    z-index: 1001;
}
.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
    path {
        fill: $color_orange;
    }
}
@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
.loaded .preloader {
    display: none;
}

.btn-order {
    font-family: "Cardo";
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    @include fz(19);
    line-height: 111%;
    letter-spacing: 0.03em;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 23px 55px;
    color: $color_dblue;
    background-color: $color_orange;
    transition: $transition4s;
    &:hover {
        background-color: $color_white;
        color: $color_black;
    }
}
.btn-read {
    font-family: "Cardo";
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    @include fz(19);
    line-height: 90%;
    letter-spacing: 0.025em;
    cursor: pointer;
    border: none;
    padding: 23px 5px;
    color: $color_white;
    background-color: transparent;
    transition: $transition4s;
    position: relative;
    &:after {             
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 15px;
        left: 0;
        background-color: $color_white;
        transition: all .3s ease-in-out;
    }
    &:hover {
        color: $color_orange;
        &:after {             
            background-color: $color_orange;
        }
    }
}
.btn-now {
    font-family: "Cardo";
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    @include fz(19);
    line-height: 111%;
    letter-spacing: 0.03em;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid $color_orange;
    padding: 21px 50px;
    color: $color_dblue;
    background-color: #fff;
    transition: $transition4s;
    &:hover {
        background-color: $color_dblue;
        color: $color_white;
        border: 1px solid $color_dblue;
    }
}

.title {
    font-family: "Cardo";
    color: $color_dblue;
    @include fz(42);
    line-height: 100%;
    font-weight: 400;
    letter-spacing: 0.003em;
    position: relative;
    &::after {
        content: '';
        width: 50px;
        height: 3px;
        position: absolute;
        background-color: $color_orange;
    }
}
.subtitle {
    font-family: "Inter";
    @include fz(18);
    font-weight: 400;
    letter-spacing: 0.003em;
}
.item-title {
    font-family: "Cardo";
    font-weight: 400;
    @include fz(24);
    line-height: 90%;
}
.item-text {
    font-family: "Inter";
    font-weight: 400;
    @include fz(17);
    line-height: 130%;
}
.item-subtitle {
    font-family: "Inter";
    font-weight: 400;
    @include fz(19);
    color: $color_grey;
}

.circle {
    &::before {             
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        background-color: $color_orange;
        transition: $transition4s;
    }
}

// Вынуждаем path унаследовать цвет, чтобы далее их можно было переписывать
.icons-sprite__social path, #basket-icon path {
    fill: inherit;
}
.media-list__icon_social {
    transition: $transition3s;
}
.media-list__icon, .media-list__link {
    transition: $transition3s;
}
.media-list__link {
    &:hover {
        .media-list__icon {
            transform: scale(1.4);
            .icon-facebook {
                fill: #2f477a;
            }
            .icon-twitter {
                fill: #0088cc;
            }
            .icon-linkedin {
                fill: #0e76a8;
            }
            .icon-instagram {
                fill: #e1306c;
            }
        }
    }
}

// Стрілки слайдера
.arrow-slider {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: $color_orange;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}
.arrow-prev {
    &::after {
        position: absolute;
        top: 13px;
        left: 18px;
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        border-left: 3px solid $color_dblue;
        border-bottom: 3px solid $color_dblue;
        transform: rotate(45deg);
        transition: all .3s ease-in-out;
    }
}
.arrow-next {
    &::after {
        position: absolute;
        top: 13px;;
        right: 18px;
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        border-left: 3px solid $color_dblue;
        border-bottom: 3px solid $color_dblue;
        transform: rotate(225deg);
        transition: all .3s ease-in-out;
    }
}

