.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 110px;
    width: 100%;
    background-color: transparent;
    z-index: 199;
    &__content {
        height: 100%;
        color: $color_white;
        @include fz(18);
        font-weight: 400;
        position: relative;
    }
    &__block {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .block-left {
        display: flex;
        gap: 35px;
        &__logo {
            padding-top: 15px;
        }
        .media-list {
            padding-top: 12px;
            display: inline-flex;
            gap: 10px;
            .header-media {
                fill: $color_black;
            }
            &__link {
                width: 45px;
                height: 45px;
                background-color: #fff;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: $transition3s;
                &:hover {
                    background-color: $color_orange;
                }
            }
        }
    }
    .block-right {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        .nav-menu {
            &__list {
                padding-top: 25px;
                list-style: none;
                display: flex;
                gap: 54px;
                li {
                    position: relative;
                    a {
                        font-family: "Inter";
                        text-decoration: none;
                        @include fz(17);
                        line-height: 124%;
                        letter-spacing: 0.17px;
                        font-weight: 400;
                        color: #F6F8FC;
                        transition: $transition3s;
                        &:hover {
                            color: $color_orange;
                        }
                    }
                }
            }
        }
        .header-order {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            &__basket {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 5px;
                .basket__icon {
                    cursor: pointer;
                    &-pic {
                        fill: $color_black;
                    }
                }
            }
            &__button {
                padding-top: 2px;
            }
        }
    }
}

.header.fixed_header {
    height: 80px;
    background: linear-gradient(90deg, rgba(140, 235, 218, 0.9), rgba(22, 28, 43, 0.9));
    // background-color: rgba(129, 148, 159, 0.9);
    backdrop-filter: blur(15px);
    z-index: 199;
    .header__block {
        padding-top: 5px;
        display: flex;
        align-items: center;
    }
    .block-left {
        &__logo {
            padding-top: 8px;
        }
        .media-list {
            padding-top: 5px;
        }
    }
}