.partners {
    &__wrapper {
        padding: 130px 0;
        background-color: #F5F5F5;
    }
    &__title {
        text-align: center;
        padding-bottom: 80px;
        .title::after {
            bottom: -32px;
            left: 48%;
        }
    }
    &__column {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }
    &__item {
        .partners-link {
            text-align: center;
            cursor: pointer;
            &__icon {
                padding-bottom: 27px;
                &__logo use {
                    width: 189px;
                    height: 100px;
                    fill: aqua;
                }
                img {
                    max-width: 189px;
                    max-height: 100px;
                }
            }
            &__title {
                font-family: "Cardo";
                color: $color_dblue;
                @include fz(24);
                line-height: 105%;
                font-weight: 400;
                letter-spacing: 0.003em;
                padding: 0 10px 25px;
            }
            .item-subtitle {
                line-height: 135%;
                padding: 0 10px;
            }
        }
    }
    



}