$base_size:16;
@mixin fz($px_size) {
    font-size: calc($px_size/$base_size)+rem;
}
$color_lblue: #B4C7E7;
$color_dblue: #1B3764;
$color_orange: #FFCA42;
$color_dorange: #ab8422;
$color_grey: #969AA0;
$color_white: #fff;
$color_lwhite: #F4F8FF;
$color_black: #000;
$transition3s: all .3s ease-in-out;
$transition4s: all .4s ease-in-out;

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

img {
    vertical-align: top;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

body {
    font-family: "Cardo", "Inter";
    font-size: 1rem;
    color: $color_grey;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
// Change text highlight color
// ::selection {background: $color_orange;}
// ::-moz-selection {background:$color_orange;}
// ::-webkit-selection {background: $color_orange;}

.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}
// Отключить округление элемента ввода iPhone / Safari
input {
    // border-radius: 0;
    -webkit-appearance: none;
}
.hide {
    display: none;
}